/* ##### ELEMENTS DE BASE ##### */

h1 {
    font-size: 6em;
}

h2 {
    font-size: 3.75em;
}

h3 {
    font-size: 3em
}

h4 {
    font-size: 2.125em
}

h5 {
    font-size: 1.5em
}

h6 {
    font-size: 1.25em
}

.btn-main {
    background-color: rgb(var(--trypan));
    border: 2px solid rgb(var(--trypan));
    color: rgb(var(--white));
    padding: 0.75rem;
    border-radius: 100rem;
    box-sizing: border-box;
    display: inline-block;
    width: fit-content;
    font-weight: 500;
    margin-right: .5rem;
    margin-bottom: .5rem;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-secondary {
    background-color: rgb(var(--lavender));
    border: 2px solid rgb(var(--lavender));
    color: rgb(var(--trypan));
    padding: 0.75rem;
    border-radius: 100rem;
    box-sizing: border-box;
    display: inline-block;
    width: fit-content;
    font-weight: 500;
    margin-right: .5rem;
    margin-bottom: .5rem;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Toujours ce dark mode abandonné...

@media (prefers-color-scheme: dark) {
	.btn-main {
        color: rgb(var(--black));
    }
    .btn-secondary {
        background-color: rgb(var(--lavender));
        border: 2px solid rgb(var(--lavender));
    }
} */

.btn-tertiary {
    background-color: rgb(var(--white));
    color: rgb(var(--trypan));
    border: 2px solid rgb(var(--trypan));
    padding: 0.75rem;
    border-radius: 100rem;
    box-sizing: border-box;
    display: inline-block;
    width: fit-content;
    font-weight: 500;
    margin-right: .5rem;
    margin-bottom: .5rem;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-valid {
    color: rgb(var(--itsOkay));
    border: 2px solid rgb(var(--itsOkay));
}

.btn-notvalid {
    color: rgb(var(--fuzzy));
    border: 2px solid rgb(var(--fuzzy));
}

.btn-main:hover {
    background-color: rgba(var(--trypan), .7);
    border: 2px solid rgba(var(--trypan), 0);
}

.btn-secondary:hover {
    background-color: rgba(var(--lavender), .7);
    border: 2px solid rgba(var(--lavender), 0);
}

.btn-tertiary:hover {
    color: rgba(var(--trypan), .7);
    border: 2px solid rgba(var(--trypan), .7);
}

.btn-valid:hover {
    color: rgba(var(--itsOkay), .7);
    border: 2px solid rgb(var(--itsOkay), .7);
}

.btn-notvalid:hover {
    color: rgba(var(--fuzzy), .7);
    border: 2px solid rgb(var(--fuzzy), .7);
}

.link {
    color: rgb(var(--indigoBlue));
}

.link:hover {
    color: rgba(var(--indigoBlue), .7);
}

.hidden {
    display: none !important;
}

.selected {
    font-weight: 600 !important;
}

.notOk {
	background-color: rgb(var(--fuzzy)) !important;
}